<div class="details-container">

  <div>
    <a [routerLink]="'/'">&laquo; Back</a>
  </div>

  <div *ngIf="person" class="person">
    <h2>{{person.firstName}} {{person.lastName}}</h2>
    <dl class="info">
      <dt>ID</dt>
      <dd>{{personId}}</dd>

      <dt>Age:</dt>
      <dd>{{person.age}}</dd>
    </dl>

    <dl *ngIf="person.address" class="address">
      <dt>City:</dt>
      <dd>{{person.address.city}}</dd>

      <dt>Street</dt>
      <dd>{{person.address.street}}</dd>

      <dt>Postcode</dt>
      <dd>{{person.address.postCode}}</dd>
    </dl>
  </div>

  <div class="alert" *ngIf="!person">
    Person not found!
  </div>

</div>